<footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Связаться с нами
                            </h3>
                            <ul class="address_line">
                                <li><a href="tel:+78442500401">Телефон: +7 (8442) 50-04-01</a></li>
                                <li><a href="mailto:Vetmaster@mail.ru">Эл.Почта: Vetmaster@mail.ru</a></li>
                                <li><a href="contact.html">Адрес: Россия, Волгоград. Пролетарская ул.,29Б</a></li>
								
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Наши услуги
                            </h3>
                            <ul class="links">
                                <li><a href="ingle-blog2.html">Хирургия</a></li>
                                <li><a href="ingle-blog.html">Терапия </a></li>
                                <li><a href="ingle-blog5.html">Вакцинация</a></li>
                                <li><a href="ingle-blog7.html">Гостиница для животных</a></li>
                                <li><a href="ingle-blog6.html">Парикмахерские услуги</a></li>
								<li><a href="ingle-blog4.html">Товары для животных</a></li>
								<li><a href="ingle-blog3.html">Аптека</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Ссылки 
                            </h3>
                            <ul class="links">
                                <li><a href="about us.html">О нас</a></li>
                                <li><a href="#">Сертификаты</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="{{ 'home'|page }}">
                                    <img src="{{ 'assets/img/logo.png'|theme }}" width="180px" height="170px" alt="">
                                </a>
                            </div>
                       
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>