==
function onStart()
{
    $this['backendUrl'] = Backend::url('/');
}
==
<header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="tel:+78442500401">+7 (8442) 50-04-01</a></li>
                                    <li><a href="#">пн-пт 10:00–17:30; сб,вс 10:00–13:30</a></li>
									<li><a href="{{ 'contact'|page }}">Пролетарская ул., 29Б</li></a>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 ">
                            <div class="social_media_links">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <a href="{{ 'home'|page }}">
                                    <img src="{{ 'assets/img/logo.png'|theme }}" width="180px" height="170px" style="margin-top: 10px" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a  href="{{ 'home'|page }}">Главная</a></li>
                                        <li><a href="{{ 'about'|page }}">О нас</a></li>
                                        <li><a href="{{ 'services'|page }}">Услуги</a></li>
                                        <li><a href="{{ 'blog'|page }}">Полезные статьи</a></li>
										<li><a  href="{{ 'contact'|page }}">Контакты</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
